<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="manifest.json">
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
  <title>Worktime</title>

  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1 class="title">Work<span class="attention">Time</h1>
  <div id="app" class="app" v-cloak>
    <img 
        v-if="hasNotificationPermission()" 
        src="assets/notifications-on.svg" 
        class="notificationBell" 
        alt="Notification is on!"
        title="Your notification is on!"></img>

    <img 
        v-else 
        src="assets/notifications-off.svg" 
        class="notificationBell"
        alt="Notification is off!"
        title="Your notification is off!"></img>

    <form name="work_form" class="form">
      <div>
        <input type="time" class="time__input" v-model="arrived">
        <label class="time__label">Arrived</label>
      </div>
      <div>
        <input type="time" class="time__input" v-model="lunchTime">
        <label class="time__label">Lunch time</label>
      </div>
      <div>
        <input type="time" class="time__input" v-model="secondRound">
        <label class="time__label">Second round</label>
      </div>
    </form>

    <div class="result">
      You'll get out at: <span class="result__time attention" v-cloak>{{ calculate }}</span>
      <div class="result__tolerance">You have 10 minutes of tolerance</div>
    </div>
    {{ isTime }}
  </div>
  <script src="assets/vue.min.js"></script>
  <script src="assets/moment.min.js"></script>
  <script src="app.js"></script>

  <script>
    if ('serviceWorker' in navigator) {
      navigator
        .serviceWorker
        .register('./sw.js')
        .then(function() { console.log('Service Worker Registered'); });
    }
  </script>

  <script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-100133422-1', 'auto');
	ga('send', 'pageview');
  </script>
  
</body>
</html>
