[v-cloak] {
  display: none;
}

:root {
  --main-font-color: #7a7a7a;
  --main-bg-color: #fff;
}

body {
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
  font-size: 16px;
  user-select: none;
}

.app {
  position: relative;
}

.title {
  margin-top: 50px;
  text-align: center;
  font-size: 2.5em;
  position: relative;
  margin-bottom: 85px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 40px;
  margin-right: 25px;
}

@media screen and (min-width: 600px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 99%;
  }

  .title {
    margin: 0;
    margin-bottom: 89px;
   }

  .form {
    display: block;
  }
}

.time__input {
  padding: 10px;
  font-size: 1.2em;      
  border: 0;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
  margin: 10px;
  color: #7a7a7a;
}

.result {
  text-align: center;
  margin: 50px;
  font-size: 28px;
  color: var(--main-font-color);
  position: relative;
}

.result__time {
  font-size: 40px;
  font-weight: 400;
  transition: all 300ms;
}

.result__tolerance {
  position: absolute;
  opacity: 0;
  transition: all 800ms;
  font-size: .5em;
  background-color: #465c90;
  padding: 6px;
  border-radius: 5px;
  color: #fff;
  right: 80px;
}

@media screen and (min-width: 600px) {
  .result__tolerance {
       top: 60px; 
  }
}

.result:hover .result__tolerance {
  opacity: 1;
}

.attention {
  color: #465C90;
}

.notificationBell {
  display: none;
}

@media screen and (min-height: 639px) {
  .notificationBell {
    display: block;
    width: 26px;
    position: fixed;
    bottom: 5%;
    left: calc(50% - 13px);
  }
}


.new-update {
  opacity: 0;
  transform: translateY(-50px);
  background-color: #FC4349;
  position: absolute;
  top: 0px;
  left: calc(50% - 111px);
  padding: 2px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: all .5s;
  cursor: pointer;
  box-shadow: 1px 1px 10px 1px #c3c3c3;
}

.new-update_show {
  opacity: 1;
  transform: translateY(0);
}

.new-update__content {
  position: relative;
  padding: 1px 0;
  padding-right: 20px;
  padding-left: 10px;
  font-size: 12px;
  color: #fff;
}

.new-update__btn-close {
  position: absolute;
  top: 5px;
  right: 8px;
  text-transform: uppercase;
}

.theme-icon {
    cursor: pointer;
    left: calc(50% - 13px);
    position: absolute;
    top: -70px;
    width: 26px;
  }

@media screen and (min-height: 639px) {
  .theme-icon {
      top: 214px;
      left: -127px;
  }
}