[v-cloak] {
  display: none;
}

body {
  color: #7a7a7a;
  font-size: 16px;
}

.title {
  margin-top: 50px;
  text-align: center;
  font-size: 2.5em;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 40px;
  margin-right: 25px;
}

@media screen and (min-width: 600px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 99%;
  }

  .title {
    margin: 0;
   }

  .form {
    display: block;
  }
}

.time__input {
  padding: 10px;
  font-size: 1.2em;      
  border: 0;
  box-shadow: 1px 1px 10px 1px #c3c3c3;
  margin: 10px;
  color: #7a7a7a;
}

.result {
  text-align: center;
  margin: 50px;
  font-size: 28px;
  color: #7a7a7a;
}

.result__time {
  font-size: 40px;
  font-weight: 400;
  transition: all 300ms;
}

.attention {
  color: #465C90;
}