<div ng-controller="mainController as main_ctrl" layout="column" style="height:500px;" ng-cloak>
    
    <md-toolbar layout="row" class="myToolbar">
        <h1 class="myToolbar__title"> Hi {{ main_ctrl.user.name }}</h1>
        <md-button class="md-raised myToolbar__addBtn" ng-click="main_ctrl.addWorkMenu()" aria-label="Show work time history">
            <i class="fa fa-plus-square fa-3x" aria-hidden="true"></i>
        </md-button>
    </md-toolbar>
    
    <section layout="row" flex>

        <md-content flex layout-padding>

          <div layout="column" layout-align="top center">
            <md-list flex>
                <md-subheader class="md-no-sticky">{{main_ctrl.workTimes.length}} work times on history</md-subheader>
                <md-list-item class="md-3-line" ng-repeat="worktime in main_ctrl.workTimes" ng-click="null">
                  <div class="md-list-item-text" layout="column">
                    <h3>Arrived at {{ worktime.arrived }}h</h3>
                    <h4>Lunch from {{ worktime.lunch }}h to {{ worktime.lunchArrive }}h</h4>
                    <p>Leaved out at {{ worktime.timeToGo }}h</p>
                  </div>
                </md-list-item>
                <md-divider ></md-divider>
            </md-list>
          </div>

          <div flex></div>

        </md-content>

    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Add new work day</h1>
      </md-toolbar>
      
      <md-content ng-controller="addWorkController as work_ctrl" layout-padding>
        <form>
            <label>Arrived at</label>
            <div uib-timepicker ng-model="work_ctrl.workTime.arrived" ng-change="changed()" show-meridian="work_ctrl.ismeridian"></div>
            <label>Lunch at</label>
            <div uib-timepicker ng-model="work_ctrl.workTime.lunch" ng-change="changed()" show-meridian="work_ctrl.ismeridian"></div>
            <label>Arrived from lunch at</label>
            <div uib-timepicker ng-model="work_ctrl.workTime.lunchArrive" ng-change="changed()" show-meridian="work_ctrl.ismeridian"></div>
        </form>
        <div>Time to get out: {{work_ctrl.workTime.timeToGo}}</div>
        <md-button class="md-icon-button" aria-label="Calculate" ng-click="work_ctrl.calculate()">
            <i class="fa fa-calculator fa-2x" aria-hidden="true"></i>
        </md-button>
        <md-button class="md-icon-button" aria-label="Save" ng-show="work_ctrl.workTime.timeToGo">
            <i class="fa fa-check fa-2x" aria-hidden="true" ng-click="work_ctrl.save(work_ctrl.workTime)"></i>
        </md-button>
      </md-content>

    </md-sidenav>

  </section>

</div>