<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
  <title>Worktime</title>

  <link rel="stylesheet" href="assets/style.css">
</head>
<body>
  <h1 class="title">Work<span class="attention">Time</h1>
  <div id="app" class="app" v-cloak>
    <form name="work_form" class="form">
      <div>
        <input type="time" class="time__input" v-model="arrived">
        <label class="time__label">Arrived</label>
      </div>
      <div>
        <input type="time" class="time__input" v-model="lunchTime">
        <label class="time__label">Lunch time</label>
      </div>
      <div>
        <input type="time" class="time__input" v-model="secondRound">
        <label class="time__label">Second round</label>
      </div>
    </form>

    <div class="result">
      You'll get out at: <span class="result__time attention" v-cloak>{{ calculate }}</span>
      <div class="result__tolerance">You have -+10min of tolerance</div>
    </div>
    {{itIsTime}}
  </div>

  <script src="assets/vue.min.js"></script>
  <script src="assets/moment.min.js"></script>

  <script>
    new Vue({
      el: '#app',
      data: {
        TOTAL_HOURS: 8 * 60 * 60,
        arrived: '08:00',
        lunchTime: '12:00',
        secondRound: '13:00',
        getOut: '',
        datenow: '',
        notified: false
      },
      mounted: function() {
        this.clockTime()
        this.notified = false;
      },
      computed: {
        calculate: function () {          
          var arrived = this.calculateTimeInSeconds(moment(this.arrived, 'h:mm'))
          var lunchTime = this.calculateTimeInSeconds(moment(this.lunchTime, 'h:mm'))
          var secondRound = this.calculateTimeInSeconds(moment(this.secondRound, 'h:mm'))
          
          this.getOut = arrived + this.TOTAL_HOURS + (secondRound - lunchTime)
          return new Date(this.getOut * 1000).toISOString().substr(11, 8)
        },
        itIsTime: function () {
          console.log(this.getOut >= this.datenow)
          if ( !this.notified ) {
            if ( this.getOut >= this.datenow ) {
              this.notify()
              this.notified = true;
            }
          }
        }
      },
      methods: {
        calculateTimeInSeconds: function (date) {
          return ( (date.hour() * 3600) + (date.minutes() * 60) )
        },
        clockTime: function() {
          var self = this
          this.datenow = this.calculateTimeInSeconds(moment())

          setTimeout(self.clockTime, 1000)
        },
        notify: function () {
          if ( Notification.permission === "granted" ){
            sendMessage()
          } else {
            Notification.requestPermission(function (permission) {
              if (permission === "granted") {
                sendMessage()
              }
            })
          }
          function sendMessage() {
            new Notification("It's time to get out! GOGOGO!")
          }
        }
      }
    })
  </script>
</body>
</html>