md-button:focus {
    outline:none;
}


#timeToGo {
    color: red;
}

/* Main Toolbar */
.myToolbar {
    padding: 20px 10px 10px 10px;
    height: 86px;
}

.myToolbar__title {
    margin: 0 auto;
}

.myToolbar__addBtn {
    bottom: 9px;
    outline: none;
    color: #e1e3f3 !important;
    background: transparent !important;
    box-shadow: none !important;
}

.myToolbar__addBtn:hover {
    color: #fff !important;
}